@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-bg: rgb(26, 30, 34);
  --accent-color: rgb(77, 180, 218);
  --text-accent-color: rgb(200, 225, 255);
  --stats-bg: rgb(46, 46, 49);
}

.header {
  background-color: var(--header-bg);
  color: var(--accent-color);
  padding: 3rem 4rem 15rem 4rem;
  height: 70vh;
}

.header-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.header-data h3 {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.header-date {
  color: var(--text-accent-color);
  margin-bottom: 1.5rem;
}

.header-date svg {
  width: 1rem;
  fill: var(--text-accent-color);
  top: 0.3em;
  position: relative;
}

.header-stats {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 150px));
  gap: 0.75rem;
  justify-content: center;
}

.stats-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--stats-bg);
  border-radius: 0.25rem;
  padding: 1rem;
  height: 5.5rem;
  transition: height 0.25s ease;
}

.stats-box .number {
  color: white;
  font-size: 1.5rem;
}

.stats-box .label {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 0.75rem;
  color: rgba(200, 225, 255, 0.8);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.stats-box .change {
  color: rgb(6, 192, 37);
  visibility: hidden;
  font-size: 0.1px;
  transition: font-size 0.25s ease;
}

.stats-box:hover {
  height: 7rem;
}

.stats-box:hover .change {
  visibility: visible;
  font-size: 1rem;
  color: rgb(6, 192, 37);
}

.body {
  background: rgb(221, 221, 236);
  padding: 3rem 4rem 45rem 4rem;
}
