@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --header-bg: rgb(26, 30, 34);
  --accent-color: rgb(77, 180, 218);
  --text-accent-color: rgb(200, 225, 255);
  --stats-bg: rgb(46, 46, 49);
}

.header {
  background-color: var(--header-bg);
  color: var(--accent-color);
  padding: 3rem 4rem 15rem 4rem;
  height: 25rem;
}

.header-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.header-data h3 {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.header-date {
  color: var(--text-accent-color);
  margin-bottom: 1.5rem;
}

.header-date svg {
  width: 1rem;
  fill: var(--text-accent-color);
  top: 0.3em;
  position: relative;
}

.header-stats {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 150px));
  gap: 0.75rem;
  justify-content: center;
}

.stats-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--stats-bg);
  border-radius: 0.25rem;
  padding: 1rem;
  height: 5.5rem;
  transition: height 0.25s ease;
}

.stats-box .number {
  color: white;
  font-size: 1.5rem;
}

.stats-box .label {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 0.75rem;
  color: rgba(200, 225, 255, 0.8);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.stats-box .change {
  color: rgb(6, 192, 37);
  visibility: hidden;
  font-size: 0.1px;
  transition: font-size 0.2s ease;
}

.stats-box:hover {
  height: 7rem;
}

.stats-box:hover .change {
  visibility: visible;
  font-size: 1rem;
  color: rgb(6, 192, 37);
}

.calendar {
  display: none;
  position: absolute;
  top: 8rem;
  z-index: 3;
}

.date-moment {
  user-select: none;
  border-bottom: var(--text-accent-color) 0.5px dashed;
}

.date-moment:hover {
  cursor: pointer;
  color: var(--accent-color);
  border-bottom: var(--accent-color) 0.5px dashed;
}

.date-moment:hover svg {
  fill: var(--accent-color);
}

.date-moment:hover .calendar {
  visibility: visible;
}

.body {
  background: rgb(234, 234, 241);
  padding: 3rem 4rem 5rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.chart-area {
  display: flex;
  width: 50rem;
  height: 40rem;
  color: white;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 2, 0.2) 0px 5px 30px -15px;
  margin-top: -8rem !important;
  background: white;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
}

.chart-title {
  color: var(--header-bg);
  text-align: left;
  border-bottom: 2px var(--header-bg);
  margin-bottom: 2rem;
  width: 25rem;
}
